body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tele{
  display: flex;
  border: 1px solid silver;
  padding: 4px;
}

.month700{
  border: 1px solid silver;
  padding-left: 2px;
  margin: 2px;
  /* background: rebeccapurple; */
}

h3{
  font-size: 30px;
}


